<footer class="exam-footer">

    <div class="container">

        <div class="row g-4">


            <!-- Brand -->

            <div class="col-lg-4">

                <div class="footer-logo">

                    <span class="footer-logo-icon">

                        <i class="bi bi-mortarboard-fill"></i>

                    </span>

                    ExamPortal

                </div>


                <p class="footer-description">

                    A modern online examination platform designed
                    to help students and professionals practice,
                    prepare and perform better.

                </p>


                <div class="social-links">

                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>

                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="bi bi-youtube"></i>
                    </a>

                </div>

            </div>


            <!-- Exams -->

            <div class="col-6 col-lg-2">

                <h5>
                    Exams
                </h5>

                <a href="#">School Tests</a>

                <a href="#">Certifications</a>

                <a href="#">One Day Exams</a>

                <a href="#">Skill Development</a>

            </div>


            <!-- Platform -->

            <div class="col-6 col-lg-2">

                <h5>
                    Platform
                </h5>

                <a href="#">Practice</a>

                <a href="#">Mock Tests</a>

                <a href="#">Results</a>

                <a href="#">My Attempts</a>

            </div>


            <!-- Support -->

            <div class="col-lg-4">

                <h5>
                    Support
                </h5>

                <p class="footer-contact">

                    <i class="bi bi-envelope"></i>

                    support@examportal.com

                </p>


                <p class="footer-contact">

                    <i class="bi bi-question-circle"></i>

                    Need help with your test?

                </p>

                <a href="{{ url_for('upload.upload_file') }}"  >
                      📤 Upload Question Set
                </a>

            </div>

        </div>


        <hr>


        <div class="footer-bottom">

            <span>
                © 2026 ExamPortal. All rights reserved.
            </span>


            <div>

                <a href="#">
                    Privacy Policy
                </a>

                <a href="#">
                    Terms & Conditions
                </a>

            </div>

        </div>

    </div>

</footer>
